<meta charset="UTF-8">
<title> <%= author.fname %> | <%= title %> </title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> -->

<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- JS -->
<script type="text/javascript" src="/javascripts/bootstrap.js" ></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js" ></script>