<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
    	<a class="btn btn-success" href="/admin/posts/new" role="button">New Post</a>
    	<table class="table table-hover"> 
    		<thead> <tr> <th>#</th> <th>Title</th> <th>Content</th> <th>Created on</th> <th>Modified By</th> </tr> </thead> 
    		<tbody> 
    			<tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> <td>@mdo</td> </tr> 
    			<tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> <td>@mdo</td> </tr> 
    			<tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> <td>@mdo</td> </tr> 
    		</tbody> 
    	</table>
    </main>

    <footer>
        <% include footer %>
    </footer>
    
</body>
</html>