<div id="wrapper-A3" class="object">
        <!-- {{posts}} -->
        <div ng-repeat="post in posts">

            <div ng-if="$index % 3 == 0">
                <div id="A3-left">
                    <div id="wrapper-post1" class="text-part-A5">
                        <div class="video-container-1">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/aN-zEzr4Zwc" frameborder="0" allowfullscreen></iframe>
                        </div>
                    
                        <div id="wrapper-A3-left-date-1">
                            <div id="A3-left-date-1">{{post.createdAt}}</div>
                            <div id="A3-left-icone-1"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-left-title-1"><a href="spore-post1.html">{{post.title}}</a></div></li>
                        </ul>
                        <div id="A3-left-text-1">{{post.description}}</div>  
                    </div>
                    
                    <!-- <div id="wrapper-post2" class="text-part-A5">
                        <a href="spore-post2.html"><div id="A3-left-image-2"><img src="IMG/image1-01.jpg"  alt="post an image with animation" title="post an image with animation" class="grow"/></div></a>
                    
                        <div id="wrapper-A3-left-date-2">
                            <div id="A3-left-date-2">21 nov, 2014</div>
                            <div id="A3-left-icone-2"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-left-title-2"><a href="spore-post2.html">Post an image with animation</a></div></li> 
                        </ul>
                        <div id="A3-left-text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>  
                    </div>
                    
                     <div id="wrapper-post3" class="text-part-A5">
                        <a href="spore-post3.html"><div id="A3-left-image-3"><img src="IMG/image6-01.jpg"  alt="Auto-resized image" title="Auto-resized image" class="grow"/></div></a>
                    
                        <div id="wrapper-A3-left-date-3">
                            <div id="A3-left-date-3">20 nov, 2014</div>
                            <div id="A3-left-icone-3"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-left-title-3"><a href="spore-post3.html">Auto-resized image</a></div></li>
                        </ul>  
                        <div id="A3-left-text-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>  
                    </div> -->
                </div>
            </div>
            <div ng-if="$index % 3 == 1">
                <div id="A3-middle">
            
                    <div id="wrapper-post4" class="text-part-A5">
                        <a href="spore-post4.html"><div id="A3-middle-image-4"><img src="IMG/image3-01.jpg"  alt="Another post" title="Another post" class="grow"/></div></a>
                    
                        <div id="wrapper-A3-middle-date-4">
                            <div id="A3-middle-date-4">{{post.createdAt}}</div>
                            <div id="A3-middle-icone-4"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-middle-title-4"><a href="spore-post4.html">{{post.title}}</a></div></li>
                        </ul>  
                        <div id="A3-middle-text-4">{{post.description}}</div>  
                    </div>
                    
                   <!--  <div id="wrapper-post5" class="text-part-A5">
                        <a href="spore-post5.html"><div id="A3-middle-image-5"><img src="IMG/image4-01.jpg"  alt="Another post" title="Another post" class="grayscale" /></div></a>
                    
                        <div id="wrapper-A3-middle-date-5">
                            <div id="A3-middle-date-5">18 nov, 2014</div>
                            <div id="A3-middle-icone-5"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-middle-title-5"><a href="spore-post5.html">Post transition image</a></div></li>
                        </ul> 
                        <div id="A3-middle-text-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>  
                    </div>
                    
                    <div id="wrapper-post6" class="text-part-A5">
                    
                        <div class="video-container-6">
                            <iframe src="//player.vimeo.com/video/108753054?portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        
                        <div id="wrapper-A3-middle-date-6">
                            <div id="A3-middle-date-6">17 nov, 2014</div>
                            <div id="A3-middle-icone-6"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-middle-title-6"><a href="spore-post6.html">Post a Vimeo video</a></div></li>
                        </ul> 
                        <div id="A3-middle-text-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>  
                    </div> -->
                </div>
            </div>
            <div ng-if="$index % 3 == 2">
                <div id="A3-right">
        
                    <div id="wrapper-post7" class="text-part-A5">
                        <div class="video-container-1">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/CLHUpONf3yI" frameborder="0" allowfullscreen></iframe>
                        </div>
                    
                        <div id="wrapper-A3-right-date-7">
                            <div id="A3-right-date-7">{{post.createdAt}}</div>
                            <div id="A3-right-icone-7"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-right-title-7"><a href="spore-post7.html">{{post.title}}</a></div></li>
                        </ul>
                        <div id="A3-right-text-7">{{post.description}}</div>  
                    </div>
                    
                    <!-- <div id="wrapper-post8" class="text-part-A5">
                        <a href="spore-post8.html"><div id="A3-right-image-8"><img src="IMG/image5-01.jpg"  alt="Post with transition image" title="Post with transition image" class="grow" /></div></a>
                    
                        <div id="wrapper-A3-right-date-8">
                            <div id="A3-right-date-8">15 nov, 2014</div>
                            <div id="A3-right-icone-8"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-right-title-8"><a href="spore-post8.html">Another post</a></div></li>
                        </ul>  
                        <div id="A3-right-text-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>  
                    </div>
                    
                    <div id="wrapper-post9" class="text-part-A5">
                        <a href="spore-post9.html"><div id="A3-right-image-9"><img src="IMG/image2-01.jpg"  alt="Another post" title="Another post" class="grow"/></div></a>
                    
                        <div id="wrapper-A3-right-date-9">
                            <div id="A3-right-date-9">14 nov, 2014</div>
                            <div id="A3-right-icone-9"></div>
                        </div> 
                        <ul>
                            <li><div id="A3-right-title-9"><a href="spore-post9.html">Another post</a></div></li>
                        </ul>
                        <div id="A3-right-text-9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>  
                    </div> -->
                </div>
            </div>
        </div>
    <div class="calage"></div>     
</div>

<!-- PART 4 - BOUTON PAGE 1-4 -->
<!-- 
<div id="A4" class="object">

    <div id="wrapper-A4" class="wow bounceInRight" data-wow-offset="10">
        
        
        <div id="page1" class="object">
            <div id="text-page1"><strong>1</strong></div>
        </div>
        
        <div id="main-page2">
            <div id="page2" class="object">
                <div id="text-page2" class="object"><strong>2</strong></div>
            </div>
        </div>
        
        <div id="main-page3">
            <div id="page3" class="object">
                <div id="text-page3" class="object"><strong>3</strong></div>
            </div>
        </div>
        
        <div id="main-page4">
            <div id="page4" class="object">
                <div id="text-page4" class="object"><strong>4</strong></div>
            </div>
        </div>
        
    </div>

</div> -->

<!-- PART 5 BIS - SUB MENU AND RELATED NUMBERS -->

<div id="A5b"> 
 
    <div id="wrapper-A5b">
    
        <div id="wrapper-A5b-part-left">
            <div id="A5b-left" class="wow flipInX" data-wow-offset="10">
                <div id="left-A5b-text-post">{{posts.length}}</div>
                <div id="left-A5b-line-post"></div>
                <div id="left-A5b-line2-post"></div>
                <div id="left-A5b-text-post-1"><strong>Posts</strong></div>
            </div>
        </div>
        
        <div id="wrapper-A5b-part-mid">
            <div id="A5b-middle" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.2s">
                <div id="mid-A5b-text-post">{{categories.length}}</div>
                <div id="mid-A5b-line-post"></div>
                <div id="mid-A5b-line2-post"></div>
                <div id="mid-A5b-text-post-1"><strong>Ctegories</strong></div>
            </div>
        </div>
        
        <div id="wrapper-A5b-part-right">
            <div id="A5b-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
                <div id="right-A5b-text-post">{{tagsLength}}</div>
                <div id="right-A5b-line-post"></div>
                <div id="right-A5b-line2-post"></div>
                <div id="right-A5b-text-post-1"><strong>Tags</strong></div>
           </div>
        </div>
        
    <div class="A5b-calage"></div>
    </div>
    
</div>

<!-- PART 5 - SUB MENU AND SHORTCUTS -->

<div id="A5"> 
 
    <div id="wrapper-A5">
    
        <div id="wrapper-part-left" class="text-part-A5">
            <div id="A5-left" class="wow flipInX" data-wow-offset="10">
                <div id="left-text-post"><strong>Our recent post</strong></div>
                <div id="left-line-post"></div>
                <div id="left-line2-post"></div>
            <ul>    
                <li><div id="left-text-post-1" ng-repeat="post in posts" ng-if="$index < 4"><strong><a href="#">{{post.title}}</a></strong></div></li>
                <!-- <li><div id="left-text-post-1"><strong><a href="spore-post1.html">Post a youtube video</a></strong></div></li>
                <li><div id="left-text-post-2"><strong><a href="spore-post2.html">Post an animated image</a></strong></div></li>
                <li><div id="left-text-post-3"><strong><a href="spore-post5.html">Post featured image</a></strong></div></li>
                <li><div id="left-text-post-4"><strong><a href="spore-post3.html">Auto-resized image</a></strong></div></li> -->
            </ul>
            </div>
        </div>
        
        <div id="wrapper-part-mid" class="text-part-A5">
            <div id="A5-middle" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.2s">
                <div id="mid-text-post"><strong>Categories</strong></div>
                <div id="mid-line-post"></div>
                <div id="mid-line2-post"></div>
            <ul>
                <li><div id="left-text-post-1" ng-repeat="(key, value) in tags" ng-if="$index < 4"><strong><a href="#">{{key}}</a></strong></div></li>
                <!-- <li><div id="mid-text-post-1"><strong><a href="spore-cat-video.html">Video</a></strong></div></li>
                <li><div id="mid-text-post-2"><strong><a href="spore-cat-hotpost.html">Hot articles</a></strong></div></li>
                <li><div id="mid-text-post-3"><strong><a href="spore-cat-image.html">Image</a></strong></div></li> -->
            </ul>
            </div>
        </div>
        
        <div id="wrapper-part-right" class="text-part-A5">
            <div id="A5-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
                <div id="right-text-post"><strong>Why will you chose my blog theme ?</strong></div>
                <div id="right-line-post"></div>
                <div id="right-line2-post"></div>
            <ul>    
                <li><div id="right-text-post-1"><strong><a href="http://en.wikipedia.org/wiki/Responsive_web_design">RWD - Responsive Web design</a></strong></div></li>
                <li><div id="right-text-post-2"><strong><a href="#">New javascript effect and animations</a></strong></div></li>
                <li><div id="right-text-post-3"><strong><a href="#">Extensible bloc adapted</a></strong></div></li>
                <li><div id="right-text-post-4"><strong><a href="#">No need to modify the code</a></strong></div></li>
           </ul>
           </div>
        </div>
        
    <div class="A5-calage"></div>
    </div>
    
</div>