<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../head %>
</head>
<body class="container">

    <header>
        <% include ../header %>
    </header>

    <main>
        <form method="post" action="">
          <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title">
          </div>
          <div class="form-group">
            <label>Post Content</label>
            <!-- <input type="password" class="form-control" placeholder="Post Content"> -->
            <textarea class="form-control" name="description" rows="3" placeholder="Post Content"></textarea>
          </div>
          <div class="form-group">
            <label>File input</label>
            <input type="file" name="image">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          <a class="btn btn-primary" href="/admin/posts" role="button">Back</a>
        </form>
        <!-- <a class="btn btn-success" href="/admin/posts/new" role="button">Save Post</a> -->
    </main>

    <footer>
        <% include ../footer %>
    </footer>
    
</body>
</html>