<!-- MENU TAB -->
<div id="main-wrapper-menu">
  <div id="wrapper-cross"></div>
	<div id="wrapper-menu">
	
    <div class="recent-post text-part-menutab">
        <ul>
        <li><div id="recent-post-title">Our recent post</div></li>
    	<li><div id="recent-post-1"><a href="spore-post1.html">Post a youtube video</a></div></li>
		<li><div id="recent-post-2"><a href="spore-post2.html">Post an animated image</a></div></li>
		<li><div id="recent-post-3"><a href="spore-post5.html">Post featured image</a></div></li>
		<li><div id="recent-post-4"><a href="spore-post3.html">Auto-resized image</a></div></li>
        </ul>
    </div>
    
	<div class="category-post text-part-menutab">
    	<div id="line-category-post"></div>
        <ul>
        <li><div id="category-post-title">Categories post</div></li>
    	<li><div id="category-post-1"><a href="spore-cat-video.html">Video articles</a></div></li>
		<li><div id="category-post-2"><a href="spore-cat-hotpost.html">Hot articles</a></div></li>
		<li><div id="category-post-3"><a href="spore-cat-image.html">Images</a></div></li>
        </ul>
    </div>
    
    </div>
</div>

<!-- BOUTON MENU TAB -->

<div id="wrapper-plus" class="object"></div>

<!-- HEADER -->

<div id="A1-main">
	    
  <div id="wrapper-logo" class="object">
	<a href="#"><div id="logo" class="shadow object" ><img src="IMG/logotop.svg" width="169" height="45"/></div></a>
	</div>
    
    <div id="A1">
    
    	<div class="blank"></div>
    
    	<div id="A0"></div>
    	<div id="A0-2"></div>
    	<div id="trame"></div>
        
		
    	<div id="wrapper-head">
   			<div id="title" class="object">Spore is a creative onepage wordpress theme for web developers who change the world.</div>
            <div id="wrapper-learnmore">
            	<div class="bouton-learnmore object">
        			<div class="text-learnmore object">Learn more</div>
    			</div>
            </div>
           <a href="#ancre"><div id="fleche1"></div></a>
   	    </div>


		<div id="wrapper-plus" class="object"></div>
        
	</div>
        
</div>

<a name="ancre"></a>

<!-- PART 2 - TITLE -->

<div id="A2">
    
    <div id="text-2" class="wow fadeIn" data-wow-offset="10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore<span style="color:#999;"> magna aliquam.</span></div>
    
</div>